/*----Table Of Contents ----

1. #Main Settings
2. #Header
    2.1 Main Header
    2.2 Menu
    2.3 Login Form
    2.4 Breadcrumbs
3. #Carousel
4. #Content
    4.1 Main Content
    4.2 News Content
    4.3 List Post
    4.4 Single Post
    4.5 Main Sidebar
    4.6 Gallery Post
5. #Lecturer
    5.1 Main 
    5.2 Lecturer Tabs
5. #Footer
6. #Pages
7. #Responsive

---------------------------- */


/**
* -----------------------
* 1. #Main Settings
* -----------------------
*/ 

/* Global reset */
*,
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td {
    margin:0;
    padding:0;
}

table { 
    border-collapse:collapse;
    border-spacing:0;
}

fieldset, img {
    border:0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style:normal;
    font-weight:normal;
}

ol,
ul,
li { 
    list-style:none;
}

caption,
th {
    text-align:left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size:100%;
    font-weight:normal;
}

q:before,
q:after { 
    content:'';
}

strong { 
    font-weight: bold;
}

em { 
    font-style: italic;
}

a img { 
    border:none;
}

strong,
b,
strong *,
b * { 
    font-weight: bold;
}

em,
i,
em *,
i * {
    font-style: italic;
}

html,
body {
    overflow-x: hidden !important;
}

button {
    cursor: pointer;
    outline: none;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {  
    margin:0; 
    padding:0;
    border-spacing:0;
}

iframe,
embed,
object {
    max-width: 100%;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.clear {
    clear:both;
}

/*Fancybox Reset Retting */
#fancybox-wrap,
#fancybox-wrap * {
    box-sizing: content-box;
}

body {
    font-family: "Rioni", sans-serif;
    color:#222222;
    background:#f5f5f5;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Nino Mtavruli", sans-serif;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 18px;
}

h4{
    font-size: 17px;
}

h5{
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-family: "Rioni";
    line-height: 25px;
    font-size: 15px;
}

a {
    color: #00ADEF;
    text-decoration: none;
    overflow-wrap: break-word;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* Fonts Import */

@font-face {  font-family: "Nino Mtavruli"; 
src:
url('../fonts/nino_mtavruli.ttf') format("truetype"),
url('../fonts/nino_mtavruli.eot') format('eot'),
url('../fonts/nino_mtavruli.woff') format('woff'),
url('../fonts/nino_mtavruli.svg') format('svg');
  font-weight: normal;  font-style: normal;
}  

@font-face {  font-family: "Rioni"; 
src:
url('../fonts/bpg_rioni.ttf') format("truetype"),
url('../fonts/bpg_rioni.eot') format('eot'),
url('../fonts/bpg_rioni.woff') format('woff'),
url('../fonts/bpg_rioni.svg') format('svg');
  font-weight: normal;  font-style: normal;
}  

.container {
    max-width:1170px;
    margin:0 auto;
}

.content {
    overflow:hidden;
}



/**
* -----------------------
* 2. #Header
* -----------------------
*/

.header {
    height: 140px;
    background: #00ADEF;
}

.logo {
    max-width: 500px;
    padding-top: 23px;
    float: left;
}



/* 2.2 Menu */
.menu-btn-wrap {
    position: relative;
    z-index: 150;
    margin-top: 50px;
    float: right;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}

.menu-btn {
    width: 30px;
    height: 3px;
    position: absolute;
    top: 15px;
    left: 5px;
    background: #fff;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
}

.menu-btn:before,
.menu-btn:after {
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
    left: 0;
    background: #ffffff;
}

.menu-btn:before {
    top: -10px;
}

.menu-btn:after {
    top: 10px;
}

.menu-btn-close {
    background: transparent;
}

.menu-btn-close:before {
    -webkit-transform: translateY(10px) rotateZ(-45deg);
    -moz-transform: translateY(10px) rotateZ(-45deg);
    -ms-transform: translateY(10px) rotateZ(-45deg);
    -o-transform: translateY(10px) rotateZ(-45deg);
    transform: translateY(10px) rotateZ(-45deg);
}

.menu-btn-close:after {
    -webkit-transform: translateY(-10px) rotateZ(45deg);
    -moz-transform: translateY(-10px) rotateZ(45deg);
    -ms-transform: translateY(-10px) rotateZ(45deg);
    -o-transform: translateY(-10px) rotateZ(45deg);
    transform: translateY(-10px) rotateZ(45deg);
}

.main-menu-wrap {
    font-family: "Nino Mtavruli";
    display: none;
    position: fixed;
    z-index: 140;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}

.main-menu {
    width: 350px;
    margin: 150px auto 0 auto;
    text-align: center;
}

.main-menu li {
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}

.main-menu li a {
    position: relative;
    font-size: 32px;
    line-height: 45px;
    color: #ffffff;
}

.main-menu li:hover > a {
    color: #00ADEF;
}

.main-menu .sub-menu {
    font-family: "Rioni";
    display: none;
}

.main-menu .sub-menu li a {
    font-size: 21px;
    line-height: 34px;
    color: #8A8A8A;
} 

.main-menu .sub-menu li a:after{
    display: none;
}

.main-menu .sub-menu li:hover a {
    color: #ffffff;
}

.main-menu .sub-menu-btn {
    position: absolute;
    top: -2px;
    right: 27px;
    line-height: 36px;
    font-size: 21px;
    color: #ffffff;
}

/* 2.3 Login */

.user-btn {
    position: relative;
    float: right;
    font-size: 32px;
    line-height: 1;
    color: #ffffff;
    margin-top: 50px;
    margin-right: 25px;
    cursor: pointer;
}

.login-form-wrap {
    display: none;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    margin: 0;
    padding: 0;
}

.login-container-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.login-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.login-form,
.register-form {
    position: relative;
    display: inline-block;
    background: #ffffff;
    padding: 30px;
    margin-top: -120px;
}

.login-close-btn {
    position: absolute;
    top: -16px;
    right: -16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #00ADEF;
    color: #ffffff;
    font-size: 17px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.register-form {
    display: none;
}

.register-form input[type="email"] { 
    width: 140px;
    float: left;
}

.register-form select {
    width: 120px;
    height: 50px;
    font-size: 16px;
    border: 1px solid #e7e7e7;
    color: #B9B9B9;
    margin-bottom: 15px;
    padding-left: 4px;
    border-left: none;
}

.register-form select option {
    font-size: 13px;
}
.login-input-wrap {
    position: relative;
}

.login-title {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.login-input-wrap input {
    width: 260px;
    height: 50px;
    font-size: 16px;
    border: 1px solid #e7e7e7;
    color: #B9B9B9;
    margin-bottom: 15px;
    padding-left: 25px; 
}

.login-input-wrap span {
    position: absolute;
    top: 0px;
    left: 10px;
    color: #B9B9B9;
    font-size: 16px;
    line-height: 50px;
}

.register-btn {
    float: left;
    line-height: 40px;
    font-size: 14px;
    color: #B9B9B9;
    margin-left: 5px;
    cursor: pointer;
}

.register-btn i {
    margin-right: 3px;
}

.login-btn {
    float: right;
    line-height: 34px;
    background: #00ADEF;
    border: none;
    color: #ffffff;
    font-family: "Nino Mtavruli";
    padding: 3px 20px 0px;
    font-size: 16px;
    letter-spacing: 0px;
    cursor: pointer;
}



/* Breadcrumbs */

.breadcrumbs {
    height: 42px;
    background: #ffffff;
    border-bottom: 1px solid #e7e7e7;
}

.breadcrumbs ul li {
    float:  left;
    padding-left: 4px;
    line-height: 42px;
    font-size: 14px;
}

.breadcrumbs ul li a,
.breadcrumbs ul li span {
    padding: 5px;
}

/**
* -----------------------
* 3. #Carousel
* -----------------------
*/
.carousel-wrap {
    max-width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-item {
    color: #ffffff;
    position: relative;
    width: 100%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.owl-next,
.owl-prev {
    position: absolute;
    top: 50%;
    color: #ffffff;
    margin-top: -27px;
    font-size: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.owl-prev {
    float: left;
    left: -80px;
}

.owl-next {
    float: right;
    right: -80px;
}

.main-carousel:hover .owl-next {
    right: 17px;
    opacity: 1;
}

.main-carousel:hover .owl-prev{
    left: 17px;
    opacity: 1;
}

.owl-dots {
    position: absolute;    
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 100;
    width: 50%;
    text-align: center;
    color: #ffffff;
}

.owl-dot {
    display: inline-block;
}

.owl-dot span {
    display: block;
    width: 14px;
    height: 14px;
    border-style: solid;
    border-width: 2px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.owl-dot:last-child span {
    margin-right: 0px;
}

.owl-dots .active span {
    background: #ffffff;
}

.carousel-post {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 60px;
    width: 100%;
    text-align: center;
}

.carousel-post h1 {
    margin-bottom: 15px;
    color: #ffffff;
}

.carousel-post h1 a {
    color: #ffffff;
}

.carousel-post p {
    font-size: 16px;
    line-height: 18px;
}

.carousel-item:after {
    position: absolute;
    z-index: 90;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(1,1,1,0);
    webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.main-carousel:hover .carousel-item:after {
    background: rgba(1,1,1,0.3);
}



/**
* -----------------------
* 4. #Content
* -----------------------
*/

.content {
    margin: 40px 0px;
}

.grid-wrap > li {
    max-width: calc((100% - 60px)/3);
    max-width: calc((100% - 60px)/3);
    margin-right: 25px;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
}

.grid-wrap > li:nth-child(3n+0) {
    margin-right: 0px;
}

.grid-wrap > li:nth-last-child(-n+3) {
    margin-bottom: 1px;
}

.grid-post {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #e9e9e9;
}

.grid-post h3 {
    margin-bottom: 7px;
}

.grid-post figure {
    margin-bottom: 10px;
}

.post-content {
    margin-bottom: 5px;
}

.post-date {
    float: right;
}

.news-btn {
    display: block;
    text-align: center;
    width: 140px;
    line-height: 45px;
    color: #ffffff;
    background: #00ADEF;
    margin: 30px auto 0 auto;
}

.news-btn i {
    margin-left: 3px;
}



/* 4.2 News Content */

.post-container-wrap {
    margin: 40px 0px;
    overflow: hidden;
}

.left-menu-wrap {
    font-family: "Nino Mtavruli";
    float: left;
    width: 270px;
    padding: 30px 25px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    margin-right: 25px;
}

.left-menu > li {
    border-bottom: 1px solid #e7e7e7;
}

.left-menu li a {
    display: inline-block;
    line-height: 40px;
    font-size: 17px;
    padding-top: 7px;
    color: #333333;
    letter-spacing: 0.5px;
}

.left-menu > li a:hover {
     color: #00ADEF;
}
 
.left-menu .sub-menu {
    font-family: "Rioni";
    display: none;
    background: #00ADEF;
}

.left-menu .sub-menu li a {
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    padding: 0px 5px;
} 

.left-menu .sub-menu li a:after {
    display: none;
}

.left-menu .sub-menu li:hover {
   background: #00B9FA;
}

.left-menu .sub-menu-btn {
    display: inline-block;
    line-height: 42px;
    font-size: 15px;
    color: #333333;
    vertical-align: top;
    margin-left: 10px;
}

.main-container {
    float: left;
    overflow: hidden;
    max-width: 630px;
    padding: 30px 25px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    margin-right: 25px;
}

.news-pagination {
    text-align: center;
    font-size: 15px;
    color: #00ADEF;
}

.news-pagination a {
     margin-right: 3px;
}


/*4.3 List Post */
.list-post {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.list-post:last-child {
    margin-bottom: 0px;
}

.list-img img {
    float: left;
    width: 140px;
    margin-right: 20px;
}

/* 4.4 Single Post */

.single-img {
    margin-bottom: 20px;
}

.single-post h1 {
    color: #00ADEF;
    margin-bottom: 5px;
}


/*  4.5 Main Sidebar */

.main-sidebar {
    float: left;
    width: 220px;
    padding: 30px 25px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
}

.main-sidebar a {
    display: block;
    margin-bottom: 20px;
}



/*  4.6 Gallery Post */

.gallery-count {
    float: left;
    color: #aaaaaa;
}

.gallery-items {
    position: relative;
    display: block;
    float: left;
    width: 279px;
    height: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.gallery-items:nth-child(2n) {
    margin-right: 0px;
}

.gallery-items:before {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-decoration: inherit;
    position: absolute;
    z-index: 130;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #fff;
    -webkit-transition: all 200ms ease-in-out 0s;
    -moz-transition: all 200ms ease-in-out 0s;
    -o-transition: all 200ms ease-in-out 0s;
    transition: all 200ms ease-in-out 0s;
}

.gallery-items:after {
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba( 1, 1, 1, 0.1 );
    -webkit-transition: all 200ms ease-in-out 0s;
    -moz-transition: all 200ms ease-in-out 0s;
    -o-transition: all 200ms ease-in-out 0s;
    transition: all 200ms ease-in-out 0s;
}

.gallery-items:hover:before,
.gallery-items:hover:after {
    opacity: 1;
}


/**
* -----------------------
* 4. #Lecturer
* -----------------------
*/

.lecturer-post {
    margin-bottom: 70px;
    overflow: hidden;
}

.lecturer-img {
    width: 230px;
    float: left;
}

.lecturer-info-wrap {
    width: 345px;
    padding-left: 20px;
    float: left;
}

.lecturer-name {
    color: #00ADEF;
    text-align: center;
    font-family: "Nino Mtavruli";
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.lecturer-degree {
    text-align: center;
    font-family: "Nino Mtavruli";
    font-size: 19px;
    letter-spacing: 0.5px;
    margin-bottom: 13px;
}

.lecturer-info li {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 6px;
}

.lecturer-info li i {
    font-size: 15px;
    margin-right: 10px;
}

/* 5.2 Lecturer Tabs */

.tabs-menu {
    height: 45px;
    float: left;
    clear: both;
}

.tabs-menu li {
    font-family: "Nino Mtavruli";
    font-size: 16px;
    letter-spacing: 0.5px;
    height: 45px;
    line-height: 45px;
    float: left;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}

.tabs-menu li.current {
    position: relative;
    background: #00ADEF;
    border-color: #00ADEF;
    color: #ffffff;
    z-index: 5;
}

.tabs-menu li:last-child {
    margin-right: 0px;
    border-right: 1px solid #e7e7e7;
}

.tabs-menu li a {
    padding: 0px 15px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none; 
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

.tabs-menu .current a {
    color: #ffffff;
}

.tab {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    padding: 20px;
    display: none;
}

#tab-1 {
 display: block;   
}



/**
* -----------------------
* 6. #Footer
* -----------------------
*/

.footer {
    background:#333333;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
    font-family: "Nino Mtavruli";
}

.footer a:hover {
    color: #00ADEF;
}

.footer-widgets {
    padding-top: 55px;
    padding-bottom: 40px;
    overflow:hidden;
}
.footer-widget {
    max-width: calc((100% - 90px)/4);
    max-width: calc((100% - 90px)/4);
    width: 100%;
    margin-left:30px;
    float:left;
}

.footer-widget:first-child {
    margin-left:0;
}

.footer-widget .widget-title {
    font-size: 22px;
    letter-spacing: 1px;
    text-align:left;
    margin-bottom: 10px;
}

.footer-widget li {
    font-size: 16px;
    line-height: 25px;
}

.footer-bottom {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    border-top: 1px solid #4A4A4A;
}

.footer-media {
    margin-bottom: 15px;
}

.footer-media a {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    color: #333333;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.footer-media a i {
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}



/**
* -----------------------
* 7. #Responsive
* -----------------------
*/



@media screen and ( max-width: 1150px ) {
    .header,
    .content,
    .footer,
    .post-container-wrap {
        padding: 0 30px;
    }



    .grid-wrap > li {
        max-width: 100%;
        margin-right: 0px !important;
        margin-bottom: 30px !important;
    }
 
    .left-menu-wrap,
    .main-container,
    .main-sidebar {
        float: none;
        margin: 0px auto 40px;
    }

    .footer-widget {
        max-width: 500px;
        margin: 0px auto 30px !important;
        float: none;
        text-align: center;
    }

    .footer-widget .widget-title {
        text-align: center;
    }
} 
